html {
  box-sizing: border-box;
}

body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
  max-width: 1346px;
  display: flex;
  font-size: 11px;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 310px;
  grid-template-rows: 15px 340px 340px 340px 340px 340px 340px;
  grid-gap: 30px;
  margin-top: 50px;
}

h2,
p {
  padding-bottom: 0px;
  padding: 10px;
  margin: 0px;
  line-height: 20px;
}

a {
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 10px;
}

.item1 {
  grid-row: 2 span;
}

.item1 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item2 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item3 {
  background-color: rgba(247, 207, 92, 255);
}

.item3 > a {
  color: black;
}

.item3 > article {
  padding-bottom: 143px;
}

.item4 {
  color: white;
  background-color: rgba(17, 38, 60, 255);
}
.item4 > article {
  padding-bottom: 143px;
}

.item5 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.calendar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;
  margin-right: 20px;
}
.calendar > time {
  font-size: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

.calendar-item1 {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-right: 20px;
  padding-top: 235px;
}
.calendar-item1 > time {
  font-size: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

.info-image-2-5 {
  position: absolute;
  background-color: rgba(69, 93, 119, 255);
  width: 310px;
  height: 197px;
  margin-top: -100px;
  color: white;
}

.info-item1 {
  position: absolute;
  width: 310px;
  height: 297px;
  margin-top: -300px;
  color: white;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(1, 1, 1)
  );
}

.icon {
  margin-top: 0px;
  padding-bottom: 0px;
}

.clipped-img-2-5 {
  margin-top: -100px;
  clip-path: inset(100px 0px 0px 0px);
}

.a {
  padding-left: 10px;
}

@media (min-width: 600px) {
  .main-heading {
    grid-area: header;
  }
  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }
  .item5 {
    grid-area: item5;
  }
  .container {
    grid-template-columns: 310px 310px;
    grid-template-rows: 15px 340px 340px 340px;
    grid-template-areas:
      "header header"
      "item1 item2"
      "item1 item3"
      "item4 item5";
  }
}

@media (min-width: 1000px) {
  .main-heading {
    grid-area: header;
  }
  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }
  .item5 {
    grid-area: item5;
  }
  .container {
    grid-template-columns: 310px 310px 310px;
    grid-template-rows: 15px 340px 340px;
    grid-template-areas:
      "header header header"
      "item1 item2 item3"
      "item1 item4 item5";
  }
}
